@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #482ff7;
}

header{
    padding: 0;
    background-color: #fff;
    position: fixed;
    width: 99%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.grafic{
    margin: 75px auto 0;
    width: 80%;
}

.w3-padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important;
}

.w3-wide{
    letter-spacing:4px;
}

.w3-light-grey{
    border-radius: 15px;
    padding: 5px;
    color:#000!important;
    background-color:#38abab;
}

.w3-light-grey p{
    font-size: 1pc;
}

.w3-container{
    text-align: center;
    box-shadow: 0px 2px 17px -3px rgba(0,0,0,0.75);
    padding: 25px;
    border-radius: 15px;
    padding: 20px;
    width: 8%;
    background-color: #47ffff;
    padding:0.01em 16px;
    content:"";display:table;clear:both
}

@media only screen and (max-width: 530px) {
    *{
        padding: 2px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .teste{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center; 
    }

    .grafic{
        margin: 70px auto 10px;
        width: 80%;
    }
    

}


:root {
    --red: #b70303;
    --cyan: #299494;
    --orange: #fcaf4a;
    --blue: #549df2;
    --varyDarkBlue: #4c4e61;
    --grayishBlue: #a3a5ad;
    --veryLightGray: #f9f9f9;
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.text, .number{
    text-align: center;
    font-size: 12px;
}

.icon{
    height: 64px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}